<a href="https://colab.research.google.com/github/VittorioBartolomeoSecondin/DVISProject-CAValli_Team/blob/main/Preprocessing_story3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries and connecting to Google Drive

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob
import json
import csv
import requests
import os
import zipfile
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Reading and preprocessing data

In [26]:
all_files = glob.glob("/content/drive/MyDrive/DV_project/story3/*")
all_files.sort()
print(all_files)

['/content/drive/MyDrive/DV_project/story3/NEET_italy.csv', '/content/drive/MyDrive/DV_project/story3/NEET_italy_new.csv', '/content/drive/MyDrive/DV_project/story3/italy.json']

## NEET in Italy

We read the two CSV datasets (from 2009 to 2017, and from 2018 to 2023, to then merge together).

In [75]:
NEET_italy = pd.read_csv("/content/drive/MyDrive/DV_project/story3/NEET_italy.csv", low_memory = False)
NEET_italy_new = pd.read_csv("/content/drive/MyDrive/DV_project/story3/NEET_italy_new.csv", low_memory = False)

We observe the column values of both datasets.

In [76]:
distinct_values_dict = {col: NEET_italy[col].unique() for col in NEET_italy.columns}
for col, values in distinct_values_dict.items():
    print(f"\nDistinct values for column '{col}': {values}")

Distinct values for column 'ITTER107': ['IT' 'ITC1' 'ITC2' 'ITC3' 'ITC4' 'ITDA' 'ITD1' 'ITD2' 'ITD3' 'ITD4'
 'ITD5' 'ITE1' 'ITE2' 'ITE3' 'ITE4' 'ITF1' 'ITF2' 'ITF3' 'ITF4' 'ITF5'
 'ITF6' 'ITG1' 'ITG2']

Distinct values for column 'Territorio': ['Italia' 'Piemonte' "Valle d'Aosta / Vallée d'Aoste" 'Liguria'
 'Lombardia' 'Trentino Alto Adige / Südtirol'
 'Provincia Autonoma Bolzano / Bozen' 'Provincia Autonoma Trento' 'Veneto'
 'Friuli-Venezia Giulia' 'Emilia-Romagna' 'Toscana' 'Umbria' 'Marche'
 'Lazio' 'Abruzzo' 'Molise' 'Campania' 'Puglia' 'Basilicata' 'Calabria'
 'Sicilia' 'Sardegna']

Distinct values for column 'TIPO_DATO_FOL': ['NEET' 'NEET_I']

Distinct values for column 'Tipo dato': ['giovani Neet di 15-34 anni (non occupati e non in istruzione)'
 'incidenza dei giovani Neet di 15-34 anni (non occupati e non in istruzione)']

Distinct values for column 'SEXISTAT1': [1 2 9]

Distinct values for column 'Sesso': ['maschi' 'femmine' 'totale']

Distinct values for column 'ETA1': ['Y15-29']

Distinct values for column 'Classe di età': ['15-29 anni']

Distinct values for column 'CONDIZIONE_PROF_EU': ['UNEM' 'TOTIN' 'LFP' 'NOT' 'TOT']

Distinct values for column 'Condizione professionale europea': ['disoccupati' 'totale inattivi' 'forze lavoro potenziali'
 'non cercano e non disponibili ' 'totale']

Distinct values for column 'TIME': ['2009' '2009-Q1' '2009-Q2' '2009-Q4' '2009-Q3' '2010' '2010-Q2' '2010-Q1'
 '2010-Q4' '2010-Q3' '2011' '2011-Q1' '2011-Q2' '2011-Q4' '2011-Q3' '2012'
 '2012-Q2' '2012-Q1' '2012-Q4' '2012-Q3' '2013' '2013-Q1' '2013-Q2'
 '2013-Q4' '2013-Q3' '2014' '2014-Q2' '2014-Q1' '2014-Q4' '2014-Q3' '2015'
 '2015-Q1' '2015-Q2' '2015-Q4' '2015-Q3' '2016' '2016-Q2' '2016-Q1'
 '2016-Q4' '2016-Q3' '2017' '2017-Q1' '2017-Q2' '2017-Q4' '2017-Q3' '2018'
 '2018-Q2' '2018-Q1' '2018-Q4' '2018-Q3' '2019' '2019-Q1' '2019-Q2'
 '2019-Q4' '2019-Q3' '2020' '2020-Q2' '2020-Q1' '2020-Q3' '2020-Q4']

Distinct values for column 'Seleziona periodo': ['2009' 'T1-2009' 'T2-2009' 'T4-2009' 'T3-2009' '2010' 'T2-2010' 'T1-2010'
 'T4-2010' 'T3-2010' '2011' 'T1-2011' 'T2-2011' 'T4-2011' 'T3-2011' '2012'
 'T2-2012' 'T1-2012' 'T4-2012' 'T3-2012' '2013' 'T1-2013' 'T2-2013'
 'T4-2013' 'T3-2013' '2014' 'T2-2014' 'T1-2014' 'T4-2014' 'T3-2014' '2015'
 'T1-2015' 'T2-2015' 'T4-2015' 'T3-2015' '2016' 'T2-2016' 'T1-2016'
 'T4-2016' 'T3-2016' '2017' 'T1-2017' 'T2-2017' 'T4-2017' 'T3-2017' '2018'
 'T2-2018' 'T1-2018' 'T4-2018' 'T3-2018' '2019' 'T1-2019' 'T2-2019'
 'T4-2019' 'T3-2019' '2020' 'T2-2020' 'T1-2020' 'T3-2020' 'T4-2020']

Distinct values for column 'Value': [355.29     355.442    316.162    ...  27.677167  27.736784  26.147063]

In [77]:
distinct_values_dict = {col: NEET_italy_new[col].unique() for col in NEET_italy_new.columns}
for col, values in distinct_values_dict.items():
    print(f"\nDistinct values for column '{col}': {values}")

Distinct values for column 'ITTER107': ['IT' 'ITC1' 'ITC2' 'ITC3' 'ITC4' 'ITDA' 'ITD1' 'ITD2' 'ITD3' 'ITD4'
 'ITD5' 'ITE1' 'ITE2' 'ITE3' 'ITE4' 'ITF1' 'ITF2' 'ITF3' 'ITF4' 'ITF5'
 'ITF6' 'ITG1' 'ITG2']

Distinct values for column 'Territorio': ['Italia' 'Piemonte' "Valle d'Aosta / Vallée d'Aoste" 'Liguria'
 'Lombardia' 'Trentino Alto Adige / Südtirol'
 'Provincia Autonoma Bolzano / Bozen' 'Provincia Autonoma Trento' 'Veneto'
 'Friuli-Venezia Giulia' 'Emilia-Romagna' 'Toscana' 'Umbria' 'Marche'
 'Lazio' 'Abruzzo' 'Molise' 'Campania' 'Puglia' 'Basilicata' 'Calabria'
 'Sicilia' 'Sardegna']

Distinct values for column 'TIPO_DATO_FOL': ['NEET' 'NEET_I']

Distinct values for column 'Tipo dato': ['giovani Neet di 15-34 anni (non occupati e non in istruzione)'
 'incidenza dei giovani Neet di 15-34 anni (non occupati e non in istruzione)']

Distinct values for column 'ETA1': ['Y15-29']

Distinct values for column 'Classe di età': ['15-29 anni']

Distinct values for column 'TIME': ['2018' '2018-Q2' '2018-Q1' '2018-Q4' '2018-Q3' '2019' '2019-Q1' '2019-Q2'
 '2019-Q4' '2019-Q3' '2020' '2020-Q2' '2020-Q1' '2020-Q3' '2020-Q4' '2021'
 '2022' '2021-Q1' '2021-Q2' '2021-Q3' '2021-Q4' '2022-Q1' '2022-Q2'
 '2022-Q3' '2022-Q4' '2023-Q1' '2023-Q2' '2023-Q3']

Distinct values for column 'Seleziona periodo': ['2018' 'T2-2018' 'T1-2018' 'T4-2018' 'T3-2018' '2019' 'T1-2019' 'T2-2019'
 'T4-2019' 'T3-2019' '2020' 'T2-2020' 'T1-2020' 'T3-2020' 'T4-2020' '2021'
 '2022' 'T1-2021' 'T2-2021' 'T3-2021' 'T4-2021' 'T1-2022' 'T2-2022'
 'T3-2022' 'T4-2022' 'T1-2023' 'T2-2023' 'T3-2023']

Distinct values for column 'Value': [2072.271    1987.519    2021.96     2101.613    2177.992    1960.424
 1994.658    1878.994    1957.494    2010.548    2098.976    2136.748
 2022.687    2149.437    2087.031    2031.626    1669.553    2141.588
 2007.205    1990.87     1986.842    1892.323    1699.516    1547.687
 1538.685    1442.598    1372.841    1448.637      23.184508   22.217424
   22.545324   23.566322   24.415237   22.067804   22.397106   21.122604
   22.085274   22.667647   23.742047   24.153707   22.797978   24.330677
   23.689164   23.066929   19.036906   24.282109   22.784235   22.583158
   22.615927   21.537065   19.350483   17.624353   17.625952   16.512547
   15.702338   16.5466    103.418      96.819     117.639     112.874
   90.615      17.60657    16.514095   20.014564   19.194039   15.351761
    2.843       2.579       3.01        3.162       2.71       16.252215
   14.70605    17.179385   18.005808   15.341938   38.926      34.773
   39.938      38.516      29.432      19.818545   17.754189   20.382562
   19.558219   14.820858  213.9       210.167     258.432     266.157
  198.915      15.036368   14.686107   17.911056   18.353668   13.584102
   21.486      18.824      23.352      26.823      18.23       12.516967
   10.929952   13.518583   15.377163   10.460539    9.628       8.322
   10.914      11.817       8.789      10.937181    9.407855   12.372887
   13.271414    9.891953   11.857      10.502      12.439      15.006
    9.441      14.178774   12.537306   14.715312   17.573075   11.051929
  103.538      87.417     104.429      98.606      93.972      14.760315
   12.421351   14.778037   13.888638   13.139445   22.839      21.877
   21.903      26.104      22.102      14.35801    13.681505   13.663244
   16.168373   13.543224   91.519      85.083      97.731      93.228
   76.041      15.308302   14.10048    16.009114   15.138667   12.182407
   79.235      77.595      86.727      89.182      69.555      16.002868
   15.687991   17.490466   17.856578   13.751564   22.624      17.916
   22.753      22.782      17.179      18.864652   15.032724   19.202788
   19.177898   14.432132   35.788      32.753      38.211      34.022
   27.911      16.633899   15.257656   17.897508   15.979972   13.121498
  184.48      169.247     186.19      176.899     139.671      22.238724
   20.510114   22.659039   21.600365   17.042921   39.303      42.885
   38.849      38.879      32.561      20.529549   22.702007   20.827213
   21.093093   17.894494   11.963      11.14       12.595      12.006
    8.838      25.826299   24.478675   28.58083    27.734528   20.934199
  373.241     350.912     356.564     338.673     286.058      35.857493
   34.24544    35.329671   34.121402   29.671389  200.923     192.349
  195.425     194.027     162.11       30.384458   29.560274   30.521994
   30.638374   25.974838   23.781      23.086      23.312      21.355
   17.082      26.033696   25.947489   26.801872   25.183971   20.603809
  116.336     109.93      104.734      99.838      81.694      36.038872
   34.980033   34.36572    33.505495   28.232164  323.064     312.578
  309.935     287.818     250.01       38.361858   37.97464    38.434161
   36.320204   32.410618   63.065      62.492      57.246      50.674
   44.868      27.622047   27.924643   26.177857   23.638789   21.435226]

We discard uninteresting information (like the gender).

In [78]:
years = {str(year) for year in range(2009, 2018)}
filtered_NEET = NEET_italy[( NEET_italy['Sesso'] == 'totale') \
                           & (NEET_italy['Condizione professionale europea'] == 'totale') \
                           & (~NEET_italy['Territorio'].isin(['Provincia Autonoma Bolzano / Bozen', 'Provincia Autonoma Trento']) ) \
                           & (NEET_italy['TIME'].isin([str(year) for year in range(2009, 2018)]) )
                           ]

In [79]:
years_new = {str(year) for year in range(2018, 2024)}
filtered_NEET_new = NEET_italy_new[(~NEET_italy_new['Territorio'].isin(['Provincia Autonoma Bolzano / Bozen', 'Provincia Autonoma Trento']) ) \
                                   & (NEET_italy_new['TIME'].isin([str(year) for year in range(2018, 2023)]) )
                                   ]

We drop useless columns.

In [80]:
NEET_final = filtered_NEET.copy()
NEET_final.drop(['ITTER107', 'Tipo dato', 'SEXISTAT1', 'Sesso', 'ETA1', 'Classe di età', 'CONDIZIONE_PROF_EU', 'Condizione professionale europea', 'Seleziona periodo'], axis = 1, inplace = True)

NEET_final_new = filtered_NEET_new.copy()
NEET_final_new.drop(['ITTER107', 'Tipo dato', 'ETA1', 'Classe di età', 'Seleziona periodo'], axis = 1, inplace = True)

We subdivide for absolute value and for percentage for both datasets.

In [81]:
NEET_absolute = NEET_final[NEET_final['TIPO_DATO_FOL'] == 'NEET']
NEET_abs = NEET_absolute.copy()
NEET_abs.drop('TIPO_DATO_FOL', axis = 1, inplace = True)
NEET_percentage = NEET_final[NEET_final['TIPO_DATO_FOL'] == 'NEET_I']
NEET_per = NEET_percentage.copy()
NEET_per.drop('TIPO_DATO_FOL', axis = 1, inplace = True)

NEET_absolute_new = NEET_final_new[NEET_final_new['TIPO_DATO_FOL'] == 'NEET']
NEET_abs_new = NEET_absolute_new.copy()
NEET_abs_new.drop('TIPO_DATO_FOL', axis = 1, inplace = True)
NEET_percentage_new = NEET_final_new[NEET_final_new['TIPO_DATO_FOL'] == 'NEET_I']
NEET_per_new = NEET_percentage_new.copy()
NEET_per_new.drop('TIPO_DATO_FOL', axis = 1, inplace = True)

We create a dictionary of datasets, one for each year (with all regions, the absolute value, the absolute value in thousands persons and the percentage).

In [82]:
neet_dict = {}

for year in years:
    neet_temp = NEET_abs[NEET_abs['TIME'] == year].copy()
    neet_per_temp = NEET_per[NEET_per['TIME'] == year].copy()
    merged_df = pd.merge(neet_temp, neet_per_temp[['Territorio', 'Value']], on = ['Territorio'], how = 'left')

    merged_df[f'{year}'] = (merged_df['Value_x'] * 1000).round(0).astype(int)
    merged_df[f'{year}_K'] = merged_df['Value_x'].round(1)
    merged_df[f'{year}_perc'] = merged_df['Value_y'].round(1)
    merged_df.drop(['TIME', 'Value_x', 'Value_y'], axis = 1, inplace = True)

    neet_dict[f'NEET_{year}'] = merged_df

for year in years_new:
    neet_temp_new = NEET_abs_new[NEET_abs_new['TIME'] == year].copy()
    neet_per_temp_new = NEET_per_new[NEET_per_new['TIME'] == year].copy()
    merged_df_new = pd.merge(neet_temp_new, neet_per_temp_new[['Territorio', 'Value']], on = ['Territorio'], how = 'left')

    merged_df_new[f'{year}'] = (merged_df_new['Value_x'] * 1000).round(0).astype(int)
    merged_df_new[f'{year}_K'] = merged_df_new['Value_x'].round(1)
    merged_df_new[f'{year}_perc'] = merged_df_new['Value_y'].round(1)
    merged_df_new.drop(['TIME', 'Value_x', 'Value_y'], axis = 1, inplace = True)

    neet_dict[f'NEET_{year}'] = merged_df_new

In [83]:
neet_dict

{'NEET_2016':                         Territorio     2016  2016_K  2016_perc
 0                           Italia  2214129  2214.1       24.3
 1                         Piemonte   118489   118.5       20.0
 2   Valle d'Aosta / Vallée d'Aoste     3096     3.1       17.7
 3                          Liguria    34859    34.9       17.6
 4                        Lombardia   239413   239.4       16.9
 5   Trentino Alto Adige / Südtirol    21461    21.5       12.6
 6                           Veneto   109680   109.7       15.6
 7            Friuli-Venezia Giulia    28006    28.0       17.8
 8                   Emilia-Romagna    92047    92.0       15.7
 9                          Toscana    89087    89.1       18.0
 10                          Umbria    21814    21.8       17.7
 11                          Marche    41803    41.8       19.2
 12                           Lazio   192724   192.7       22.5
 13                         Abruzzo    48925    48.9       24.7
 14                          Molise    12839    12.8       26.3
 15                        Campania   378356   378.4       35.3
 16                          Puglia   214607   214.6       31.2
 17                      Basilicata    25043    25.0       26.4
 18                        Calabria   130743   130.7       38.2
 19                         Sicilia   338358   338.4       38.1
 20                        Sardegna    72780    72.8       30.5,
 'NEET_2011':                         Territorio     2011  2011_K  2011_perc
 0                           Italia  2097124  2097.1       22.5
 1                         Piemonte    97816    97.8       16.3
 2   Valle d'Aosta / Vallée d'Aoste     2666     2.7       15.2
 3                          Liguria    30291    30.3       15.4
 4                        Lombardia   209315   209.3       15.1
 5   Trentino Alto Adige / Südtirol    18220    18.2       11.0
 6                           Veneto   107839   107.8       15.2
 7            Friuli-Venezia Giulia    25781    25.8       16.1
 8                   Emilia-Romagna    86770    86.8       15.0
 9                          Toscana    81184    81.2       16.1
 10                          Umbria    19781    19.8       15.3
 11                          Marche    35134    35.1       15.4
 12                           Lazio   181017   181.0       21.5
 13                         Abruzzo    37866    37.9       17.7
 14                          Molise    12018    12.0       22.9
 15                        Campania   391986   392.0       34.9
 16                          Puglia   212397   212.4       29.0
 17                      Basilicata    27698    27.7       26.9
 18                        Calabria   116620   116.6       31.5
 19                         Sicilia   329706   329.7       35.4
 20                        Sardegna    73019    73.0       27.6,
 'NEET_2014':                         Territorio     2014  2014_K  2014_perc
 0                           Italia  2413297  2413.3       26.2
 1                         Piemonte   126683   126.7       21.3
 2   Valle d'Aosta / Vallée d'Aoste     3328     3.3       19.1
 3                          Liguria    43089    43.1       21.6
 4                        Lombardia   255516   255.5       18.2
 5   Trentino Alto Adige / Südtirol    23963    24.0       14.3
 6                           Veneto   118255   118.3       16.8
 7            Friuli-Venezia Giulia    29119    29.1       18.3
 8                   Emilia-Romagna   120263   120.3       20.6
 9                          Toscana   100603   100.6       20.1
 10                          Umbria    28961    29.0       23.0
 11                          Marche    45323    45.3       20.3
 12                           Lazio   211245   211.2       24.3
 13                         Abruzzo    49425    49.4       24.2
 14                          Molise    14084    14.1       28.1
 15                        Campania   397336   397.3       36.3
 16                          Puglia   234560   234.6       33.4
 17                      Basilicata    29117    29.1       29.8
 18                        Calabria   133499   133.5       38.0
 19                         Sicilia   364183   364.2       40.3
 20                        Sardegna    84744    84.7       34.2,
 'NEET_2010':                         Territorio     2010  2010_K  2010_perc
 0                           Italia  2052226  2052.2       22.0
 1                         Piemonte   102032   102.0       16.9
 2   Valle d'Aosta / Vallée d'Aoste     2463     2.5       14.0
 3                          Liguria    31251    31.3       16.1
 4                        Lombardia   215079   215.1       15.6
 5   Trentino Alto Adige / Südtirol    19207    19.2       11.7
 6                           Veneto   108303   108.3       15.2
 7            Friuli-Venezia Giulia    22422    22.4       13.9
 8                   Emilia-Romagna    88532    88.5       15.3
 9                          Toscana    78492    78.5       15.6
 10                          Umbria    19934    19.9       15.4
 11                          Marche    32175    32.2       13.9
 12                           Lazio   156248   156.2       18.6
 13                         Abruzzo    39980    40.0       18.6
 14                          Molise    10617    10.6       19.9
 15                        Campania   384814   384.8       34.0
 16                          Puglia   213235   213.2       28.8
 17                      Basilicata    29644    29.6       28.4
 18                        Calabria   117559   117.6       31.3
 19                         Sicilia   311522   311.5       33.2
 20                        Sardegna    68717    68.7       25.4,
 'NEET_2013':                         Territorio     2013  2013_K  2013_perc
 0                           Italia  2404571  2404.6       26.0
 1                         Piemonte   134815   134.8       22.5
 2   Valle d'Aosta / Vallée d'Aoste     3358     3.4       19.1
 3                          Liguria    42102    42.1       21.1
 4                        Lombardia   256185   256.2       18.3
 5   Trentino Alto Adige / Südtirol    21942    21.9       13.1
 6                           Veneto   128532   128.5       18.2
 7            Friuli-Venezia Giulia    27292    27.3       17.1
 8                   Emilia-Romagna   110244   110.2       18.9
 9                          Toscana    98902    98.9       19.7
 10                          Umbria    23996    24.0       18.9
 11                          Marche    45575    45.6       20.2
 12                           Lazio   201854   201.9       23.3
 13                         Abruzzo    47700    47.7       22.9
 14                          Molise    14906    14.9       29.2
 15                        Campania   401197   401.2       36.2
 16                          Puglia   243607   243.6       34.1
 17                      Basilicata    31608    31.6       31.8
 18                        Calabria   128214   128.2       35.8
 19                         Sicilia   361527   361.5       39.5
 20                        Sardegna    81016    81.0       32.0,
 'NEET_2017':                         Territorio     2017  2017_K  2017_perc
 0                           Italia  2188707  2188.7       24.1
 1                         Piemonte   118852   118.9       20.0
 2   Valle d'Aosta / Vallée d'Aoste     2763     2.8       15.7
 3                          Liguria    41584    41.6       20.9
 4                        Lombardia   225647   225.6       15.9
 5   Trentino Alto Adige / Südtirol    24409    24.4       14.3
 6                           Veneto   106765   106.8       15.2
 7            Friuli-Venezia Giulia    26772    26.8       16.9
 8                   Emilia-Romagna    95366    95.4       16.1
 9                          Toscana    83200    83.2       16.7
 10                          Umbria    23821    23.8       19.5
 11                          Marche    41427    41.4       19.0
 12                           Lazio   185338   185.3       21.7
 13                         Abruzzo    42725    42.7       22.0
 14                          Molise    12643    12.6       26.1
 15                        Campania   383128   383.1       36.0
 16                          Puglia   226814   226.8       33.3
 17                      Basilicata    27453    27.5       29.2
 18                        Calabria   123045   123.0       36.7
 19                         Sicilia   328783   328.8       37.6
 20                        Sardegna    68173    68.2       29.1,
 'NEET_2012':                         Territorio     2012  2012_K  2012_perc
 0                           Italia  2204066  2204.1       23.8
 1                         Piemonte   107910   107.9       18.0
 2   Valle d'Aosta / Vallée d'Aoste     2376     2.4       13.5
 3                          Liguria    34963    35.0       17.7
 4                        Lombardia   223615   223.6       16.0
 5   Trentino Alto Adige / Südtirol    21250    21.2       12.8
 6                           Veneto   115424   115.4       16.4
 7            Friuli-Venezia Giulia    27975    28.0       17.6
 8                   Emilia-Romagna    91101    91.1       15.7
 9                          Toscana    91047    91.0       18.1
 10                          Umbria    23129    23.1       18.1
 11                          Marche    40015    40.0       17.6
 12                           Lazio   182709   182.7       21.5
 13                         Abruzzo    42053    42.1       19.9
 14                          Molise    12526    12.5       24.2
 15                        Campania   392441   392.4       35.2
 16                          Puglia   225016   225.0       31.1
 17                      Basilicata    29726    29.7       29.4
 18                        Calabria   122914   122.9       33.8
 19                         Sicilia   345034   345.0       37.4
 20                        Sardegna    72842    72.8       28.2,
 'NEET_2009':                         Territorio     2009  2009_K  2009_perc
 0                           Italia  1923599  1923.6       20.5
 1                         Piemonte    96410    96.4       15.9
 2   Valle d'Aosta / Vallée d'Aoste     2582     2.6       14.6
 3                          Liguria    27844    27.8       14.4
 4                        Lombardia   196688   196.7       14.2
 5   Trentino Alto Adige / Südtirol    16256    16.3        9.9
 6                           Veneto    89178    89.2       12.4
 7            Friuli-Venezia Giulia    21626    21.6       13.3
 8                   Emilia-Romagna    71335    71.3       12.4
 9                          Toscana    64019    64.0       12.7
 10                          Umbria    18383    18.4       14.1
 11                          Marche    38076    38.1       16.1
 12                           Lazio   136481   136.5       16.3
 13                         Abruzzo    40334    40.3       18.5
 14                          Molise    10688    10.7       19.7
 15                        Campania   371515   371.5       32.5
 16                          Puglia   211178   211.2       28.0
 17                      Basilicata    25142    25.1       23.7
 18                        Calabria   107357   107.4       28.1
 19                         Sicilia   302689   302.7       32.0
 20                        Sardegna    75816    75.8       27.3,
 'NEET_2015':                         Territorio     2015  2015_K  2015_perc
 0                           Italia  2349101  2349.1       25.7
 1                         Piemonte   118744   118.7       20.0
 2   Valle d'Aosta / Vallée d'Aoste     3417     3.4       19.5
 3                          Liguria    40881    40.9       20.5
 4                        Lombardia   261916   261.9       18.6
 5   Trentino Alto Adige / Südtirol    21980    22.0       13.0
 6                           Veneto   118990   119.0       17.0
 7            Friuli-Venezia Giulia    29234    29.2       18.5
 8                   Emilia-Romagna   111417   111.4       19.1
 9                          Toscana    92333    92.3       18.6
 10                          Umbria    25473    25.5       20.5
 11                          Marche    43931    43.9       19.8
 12                           Lazio   205424   205.4       23.8
 13                         Abruzzo    54369    54.4       26.9
 14                          Molise    12412    12.4       25.0
 15                        Campania   382289   382.3       35.3
 16                          Puglia   230263   230.3       33.1
 17                      Basilicata    27649    27.6       28.7
 18                        Calabria   138428   138.4       39.9
 19                         Sicilia   352813   352.8       39.3
 20                        Sardegna    77138    77.1       31.8,
 'NEET_2018':                         Territorio     2018  2018_K  2018_perc
 0                           Italia  2072271  2072.3       23.2
 1                         Piemonte   103418   103.4       17.6
 2   Valle d'Aosta / Vallée d'Aoste     2843     2.8       16.3
 3                          Liguria    38926    38.9       19.8
 4                        Lombardia   213900   213.9       15.0
 5   Trentino Alto Adige / Südtirol    21486    21.5       12.5
 6                           Veneto   103538   103.5       14.8
 7            Friuli-Venezia Giulia    22839    22.8       14.4
 8                   Emilia-Romagna    91519    91.5       15.3
 9                          Toscana    79235    79.2       16.0
 10                          Umbria    22624    22.6       18.9
 11                          Marche    35788    35.8       16.6
 12                           Lazio   184480   184.5       22.2
 13                         Abruzzo    39303    39.3       20.5
 14                          Molise    11963    12.0       25.8
 15                        Campania   373241   373.2       35.9
 16                          Puglia   200923   200.9       30.4
 17                      Basilicata    23781    23.8       26.0
 18                        Calabria   116336   116.3       36.0
 19                         Sicilia   323064   323.1       38.4
 20                        Sardegna    63065    63.1       27.6,
 'NEET_2020':                         Territorio     2020  2020_K  2020_perc
 0                           Italia  2098976  2099.0       23.7
 1                         Piemonte   117639   117.6       20.0
 2   Valle d'Aosta / Vallée d'Aoste     3010     3.0       17.2
 3                          Liguria    39938    39.9       20.4
 4                        Lombardia   258432   258.4       17.9
 5   Trentino Alto Adige / Südtirol    23352    23.4       13.5
 6                           Veneto   104429   104.4       14.8
 7            Friuli-Venezia Giulia    21903    21.9       13.7
 8                   Emilia-Romagna    97731    97.7       16.0
 9                          Toscana    86727    86.7       17.5
 10                          Umbria    22753    22.8       19.2
 11                          Marche    38211    38.2       17.9
 12                           Lazio   186190   186.2       22.7
 13                         Abruzzo    38849    38.8       20.8
 14                          Molise    12595    12.6       28.6
 15                        Campania   356564   356.6       35.3
 16                          Puglia   195425   195.4       30.5
 17                      Basilicata    23312    23.3       26.8
 18                        Calabria   104734   104.7       34.4
 19                         Sicilia   309935   309.9       38.4
 20                        Sardegna    57246    57.2       26.2,
 'NEET_2021':                         Territorio     2021  2021_K  2021_perc
 0                           Italia  2031626  2031.6       23.1
 1                         Piemonte   112874   112.9       19.2
 2   Valle d'Aosta / Vallée d'Aoste     3162     3.2       18.0
 3                          Liguria    38516    38.5       19.6
 4                        Lombardia   266157   266.2       18.4
 5   Trentino Alto Adige / Südtirol    26823    26.8       15.4
 6                           Veneto    98606    98.6       13.9
 7            Friuli-Venezia Giulia    26104    26.1       16.2
 8                   Emilia-Romagna    93228    93.2       15.1
 9                          Toscana    89182    89.2       17.9
 10                          Umbria    22782    22.8       19.2
 11                          Marche    34022    34.0       16.0
 12                           Lazio   176899   176.9       21.6
 13                         Abruzzo    38879    38.9       21.1
 14                          Molise    12006    12.0       27.7
 15                        Campania   338673   338.7       34.1
 16                          Puglia   194027   194.0       30.6
 17                      Basilicata    21355    21.4       25.2
 18                        Calabria    99838    99.8       33.5
 19                         Sicilia   287818   287.8       36.3
 20                        Sardegna    50674    50.7       23.6,
 'NEET_2023': Empty DataFrame
 Columns: [Territorio, 2023, 2023_K, 2023_perc]
 Index: [],
 'NEET_2022':                         Territorio     2022  2022_K  2022_perc
 0                           Italia  1669553  1669.6       19.0
 1                         Piemonte    90615    90.6       15.4
 2   Valle d'Aosta / Vallée d'Aoste     2710     2.7       15.3
 3                          Liguria    29432    29.4       14.8
 4                        Lombardia   198915   198.9       13.6
 5   Trentino Alto Adige / Südtirol    18230    18.2       10.5
 6                           Veneto    93972    94.0       13.1
 7            Friuli-Venezia Giulia    22102    22.1       13.5
 8                   Emilia-Romagna    76041    76.0       12.2
 9                          Toscana    69555    69.6       13.8
 10                          Umbria    17179    17.2       14.4
 11                          Marche    27911    27.9       13.1
 12                           Lazio   139671   139.7       17.0
 13                         Abruzzo    32561    32.6       17.9
 14                          Molise     8838     8.8       20.9
 15                        Campania   286058   286.1       29.7
 16                          Puglia   162110   162.1       26.0
 17                      Basilicata    17082    17.1       20.6
 18                        Calabria    81694    81.7       28.2
 19                         Sicilia   250010   250.0       32.4
 20                        Sardegna    44868    44.9       21.4,
 'NEET_2019':                         Territorio     2019  2019_K  2019_perc
 0                           Italia  1960424  1960.4       22.1
 1                         Piemonte    96819    96.8       16.5
 2   Valle d'Aosta / Vallée d'Aoste     2579     2.6       14.7
 3                          Liguria    34773    34.8       17.8
 4                        Lombardia   210167   210.2       14.7
 5   Trentino Alto Adige / Südtirol    18824    18.8       10.9
 6                           Veneto    87417    87.4       12.4
 7            Friuli-Venezia Giulia    21877    21.9       13.7
 8                   Emilia-Romagna    85083    85.1       14.1
 9                          Toscana    77595    77.6       15.7
 10                          Umbria    17916    17.9       15.0
 11                          Marche    32753    32.8       15.3
 12                           Lazio   169247   169.2       20.5
 13                         Abruzzo    42885    42.9       22.7
 14                          Molise    11140    11.1       24.5
 15                        Campania   350912   350.9       34.2
 16                          Puglia   192349   192.3       29.6
 17                      Basilicata    23086    23.1       25.9
 18                        Calabria   109930   109.9       35.0
 19                         Sicilia   312578   312.6       38.0
 20                        Sardegna    62492    62.5       27.9}

In [70]:
from functools import reduce
years_reduce = {str(year) for year in range(2009, 2023)}
dataframes = [neet_dict[f'NEET_{year}'] for year in years_reduce]
neet_dict['NEET'] = reduce(lambda left, right: pd.merge(left, right, on = 'Territorio', how = 'inner'), dataframes)

In [71]:
region_dict = {
    "Valle d'Aosta / Vallée d'Aoste": "Valle d'Aosta/Vallée d'Aoste",
    "Trentino Alto Adige / Südtirol": "Trentino-Alto Adige/Südtirol"
}
neet_dict['NEET']['Territorio'] = neet_dict['NEET']['Territorio'].replace(region_dict)
neet_dict['NEET'].rename(columns = {'Territorio': 'Region'}, inplace = True)

In [72]:
neet_dict['NEET']

,Region,2016,2016_K,2016_perc,2011,2011_K,2011_perc,2014,2014_K,2014_perc,...,2021_perc,2022,2022_K,2022_perc,2009,2009_K,2009_perc,2015,2015_K,2015_perc
0,Italia,2214129,2214.1,24.3,2097124,2097.1,22.5,2413297,2413.3,26.2,...,23.1,1669553,1669.6,19.0,1923599,1923.6,20.5,2349101,2349.1,25.7
1,Piemonte,118489,118.5,20.0,97816,97.8,16.3,126683,126.7,21.3,...,19.2,90615,90.6,15.4,96410,96.4,15.9,118744,118.7,20.0
2,Valle d'Aosta/Vallée d'Aoste,3096,3.1,17.7,2666,2.7,15.2,3328,3.3,19.1,...,18.0,2710,2.7,15.3,2582,2.6,14.6,3417,3.4,19.5
3,Liguria,34859,34.9,17.6,30291,30.3,15.4,43089,43.1,21.6,...,19.6,29432,29.4,14.8,27844,27.8,14.4,40881,40.9,20.5
4,Lombardia,239413,239.4,16.9,209315,209.3,15.1,255516,255.5,18.2,...,18.4,198915,198.9,13.6,196688,196.7,14.2,261916,261.9,18.6
5,Trentino-Alto Adige/Südtirol,21461,21.5,12.6,18220,18.2,11.0,23963,24.0,14.3,...,15.4,18230,18.2,10.5,16256,16.3,9.9,21980,22.0,13.0
6,Veneto,109680,109.7,15.6,107839,107.8,15.2,118255,118.3,16.8,...,13.9,93972,94.0,13.1,89178,89.2,12.4,118990,119.0,17.0
7,Friuli-Venezia Giulia,28006,28.0,17.8,25781,25.8,16.1,29119,29.1,18.3,...,16.2,22102,22.1,13.5,21626,21.6,13.3,29234,29.2,18.5
8,Emilia-Romagna,92047,92.0,15.7,86770,86.8,15.0,120263,120.3,20.6,...,15.1,76041,76.0,12.2,71335,71.3,12.4,111417,111.4,19.1
9,Toscana,89087,89.1,18.0,81184,81.2,16.1,100603,100.6,20.1,...,17.9,69555,69.6,13.8,64019,64.0,12.7,92333,92.3,18.6
10,Umbria,21814,21.8,17.7,19781,19.8,15.3,28961,29.0,23.0,...,19.2,17179,17.2,14.4,18383,18.4,14.1,25473,25.5,20.5
11,Marche,41803,41.8,19.2,35134,35.1,15.4,45323,45.3,20.3,...,16.0,27911,27.9,13.1,38076,38.1,16.1,43931,43.9,19.8
12,Lazio,192724,192.7,22.5,181017,181.0,21.5,211245,211.2,24.3,...,21.6,139671,139.7,17.0,136481,136.5,16.3,205424,205.4,23.8
13,Abruzzo,48925,48.9,24.7,37866,37.9,17.7,49425,49.4,24.2,...,21.1,32561,32.6,17.9,40334,40.3,18.5,54369,54.4,26.9
14,Molise,12839,12.8,26.3,12018,12.0,22.9,14084,14.1,28.1,...,27.7,8838,8.8,20.9,10688,10.7,19.7,12412,12.4,25.0
15,Campania,378356,378.4,35.3,391986,392.0,34.9,397336,397.3,36.3,...,34.1,286058,286.1,29.7,371515,371.5,32.5,382289,382.3,35.3
16,Puglia,214607,214.6,31.2,212397,212.4,29.0,234560,234.6,33.4,...,30.6,162110,162.1,26.0,211178,211.2,28.0,230263,230.3,33.1
17,Basilicata,25043,25.0,26.4,27698,27.7,26.9,29117,29.1,29.8,...,25.2,17082,17.1,20.6,25142,25.1,23.7,27649,27.6,28.7
18,Calabria,130743,130.7,38.2,116620,116.6,31.5,133499,133.5,38.0,...,33.5,81694,81.7,28.2,107357,107.4,28.1,138428,138.4,39.9
19,Sicilia,338358,338.4,38.1,329706,329.7,35.4,364183,364.2,40.3,...,36.3,250010,250.0,32.4,302689,302.7,32.0,352813,352.8,39.3
20,Sardegna,72780,72.8,30.5,73019,73.0,27.6,84744,84.7,34.2,...,23.6,44868,44.9,21.4,75816,75.8,27.3,77138,77.1,31.8

In [37]:
neet_dict['NEET'].to_csv('dumbbell.csv', index = False)

# Download all CSV files

We download all the CSV files we created.

In [ ]:
directory_path = '/content'
file_type = ".csv"
files_to_download = glob.glob(f"{directory_path}/*{file_type}")
zip_filename = "grouped_barcharts.zip"
with zipfile.ZipFile(zip_filename, "w") as zipf:
    for file in files_to_download:
        zipf.write(file, arcname = os.path.basename(file))
files.download(zip_filename)

We remove all the CSV files we downloaded.

In [ ]:
for file in files_to_download:
    os.remove(file)

# Choropleth Map: JSON file preparation

We load a JSON file containing a map of Italy.

In [ ]:
json_path = "/content/drive/MyDrive/DV_project/story3/italy.json"
with open(json_path, 'r') as file:
    json_file = json.load(file)

We add to the JSON file information about the NEET abundance.

In [ ]:
for idx in range(len(json_file['objects']['regions'].get('geometries'))):

  properties = json_file['objects']['regions'].get('geometries')[idx]['properties']
  region = properties['reg_name']

  row = neet_dict['NEET'][neet_dict['NEET']['Region'] == region].values[0]

  properties['abundance'] = list(row)[1::3]
  properties['abundance1000'] = list(row)[2::3]
  properties['percentage'] = list(row)[3::3]

We export the modified JSON file: we have still to remove by hand all info on Israel for a better visualisation of the map.

In [ ]:
# We then need to remove (by hand) 'Israel' from the JSON file for a better vis of the map
out_path = "/content/choropleth_italy.json"
with open(out_path, 'w') as file:
    json.dump(json_file, file)