<a href="https://colab.research.google.com/github/VittorioBartolomeoSecondin/DVISProject-CAValli_Team/blob/main/Preprocessing_story2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries and connecting to Google Drive

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob
import json
import csv
import requests
import os
import zipfile
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Reading the data

In [2]:
all_files = glob.glob("/content/drive/MyDrive/DV_project/story2/*.xlsx")
all_files.sort()
print(all_files)

['/content/drive/MyDrive/DV_project/story2/early_leavers_by_sex_labour.xlsx', '/content/drive/MyDrive/DV_project/story2/pop_edu_sex_age_absolute.xlsx', '/content/drive/MyDrive/DV_project/story2/pop_edu_sex_age_percentage.xlsx', '/content/drive/MyDrive/DV_project/story2/poverty_exclusion_risk.xlsx', '/content/drive/MyDrive/DV_project/story2/poverty_exclusion_risk_by_age.xlsx', '/content/drive/MyDrive/DV_project/story2/poverty_exclusion_risk_by_education.xlsx']

## Education level: absolute value

We import the 36 sheets of the *pop_edu_sex_age_absolute* excel file (skipping useless rows/columns and avoiding the print of unharmful warnings) in a dictionary of datasets named *education_abs_sheets*.

In [3]:
sheet_names = [f'Sheet {i}' for i in range(1, 37)]
file_path = '/content/drive/MyDrive/DV_project/story2/pop_edu_sex_age_absolute.xlsx'
rows_to_skip = list(range(0, 10)) + [11, 12, 13, 44] + list(range(49, 58))
selected_columns = ['TIME'] + [str(year) for year in range(2009, 2023)]

# Just to suppress the unharmful warnings we were getting
import warnings
with warnings.catch_warnings():
    warnings.filterwarnings("ignore", category = UserWarning, module = "openpyxl")
    # Dictionary with datasets: 'education_abs_sheet1', ..., 'education_abs_sheet36'
    education_abs_sheets = {f'education_abs_sheet{i}': pd.read_excel(file_path, sheet_name = sheet_name, skiprows = rows_to_skip, na_values = ':', usecols = selected_columns)
                            for i, sheet_name in enumerate(sheet_names, start = 1)}

We create 2 dictionaries linking each country to its short abbreviation (*country_abbreviations*) and viceversa (*country_abbreviations_reversed*).

In [4]:
country_abbreviations = {
    'Belgium': 'BEL',
    'Bulgaria': 'BGR',
    'Czechia': 'CZE',
    'Denmark': 'DNK',
    'Germany': 'DEU',
    'Estonia': 'EST',
    'Ireland': 'IRL',
    'Greece': 'GRC',
    'Spain': 'ESP',
    'France': 'FRA',
    'Croatia': 'HRV',
    'Italy': 'ITA',
    'Cyprus': 'CYP',
    'Latvia': 'LVA',
    'Lithuania': 'LTU',
    'Luxembourg': 'LUX',
    'Hungary': 'HUN',
    'Malta': 'MLT',
    'Netherlands': 'NLD',
    'Austria': 'AUT',
    'Poland': 'POL',
    'Portugal': 'PRT',
    'Romania': 'ROU',
    'Slovenia': 'SVN',
    'Slovakia': 'SVK',
    'Finland': 'FIN',
    'Sweden': 'SWE',
    'Iceland': 'ISL',
    'Norway': 'NOR',
    'Switzerland': 'CHE',
    'Montenegro': 'MNE',
    'North Macedonia': 'MKD',
    'Serbia': 'SRB',
    'TÃ¼rkiye': 'TUR',
}

country_abbreviations_reversed = {value: key for key, value in country_abbreviations.items()}

We add a column *Abbreviation* to the 36 datasets.

In [5]:
for i in range(1, 37):
    education_abs_sheets[f'education_abs_sheet{i}'].rename(columns = {'TIME': 'Country'}, inplace = True)
    education_abs_sheets[f'education_abs_sheet{i}']['Abbreviation'] = education_abs_sheets[f'education_abs_sheet{i}']['Country'].map(country_abbreviations)

We sum data about 15-24 y.o. people and data about 25-29 y.o. people to have data coherent to what we used in story 1 (people aged between 15 and 29).

We create 3 different dataset, one for each educational level (low, medium and high).

In [42]:
low1 = education_abs_sheets['education_abs_sheet2']
low2 = education_abs_sheets['education_abs_sheet8']

medium1 = education_abs_sheets['education_abs_sheet3']
medium2 = education_abs_sheets['education_abs_sheet9']

high1 = education_abs_sheets['education_abs_sheet6']
high2 = education_abs_sheets['education_abs_sheet12']

In [43]:
low1.set_index(['Country', 'Abbreviation'], inplace = True)
low2.set_index(['Country', 'Abbreviation'], inplace = True)
low = low1.fillna(1000000).add(low2.fillna(1000000), fill_value = 0).round(1)
low = low.where(low < 1000000)
low1.reset_index(inplace = True)
low2.reset_index(inplace = True)
low.reset_index(inplace = True)

In [44]:
medium1.set_index(['Country', 'Abbreviation'], inplace = True)
medium2.set_index(['Country', 'Abbreviation'], inplace = True)
medium = medium1.fillna(1000000).add(medium2.fillna(1000000), fill_value = 0).round(1)
medium = medium.where(medium < 1000000)
medium1.reset_index(inplace = True)
medium2.reset_index(inplace = True)
medium.reset_index(inplace = True)

In [45]:
high1.set_index(['Country', 'Abbreviation'], inplace = True)
high2.set_index(['Country', 'Abbreviation'], inplace = True)
high = high1.fillna(1000000).add(high2.fillna(1000000), fill_value = 0).round(1)
high = high.where(high < 1000000)
high1.reset_index(inplace = True)
high2.reset_index(inplace = True)
high.reset_index(inplace = True)

We create one dataset for each year to use for the stacked barchart (percentage).

In [51]:
def create_stacked_dataset(year):
    stacked = pd.DataFrame()

    low_year = low[['Country', 'Abbreviation', year]].rename(columns = {year: 'low'})
    medium_year = medium[['Country', 'Abbreviation', year]].rename(columns = {year: 'medium'})
    high_year = high[['Country', 'Abbreviation', year]].rename(columns = {year: 'high'})

    stacked = pd.merge(low_year, medium_year, on = ['Country', 'Abbreviation'])
    stacked = pd.merge(stacked, high_year, on = ['Country', 'Abbreviation'])
    stacked = stacked.dropna(subset = ['low', 'medium', 'high'])

    return stacked

for year in range(2009, 2023):
    stacked_year = create_stacked_dataset(str(year))
    stacked_year = stacked_year.sort_values(by = 'Country')
    stacked_year.to_csv(f"stacked{year}.csv", index = False, na_rep = 'nan')

for year in range(2009, 2023):
    stacked_year = create_stacked_dataset(str(year))
    stacked_year = stacked_year.sort_values(by = 'low', ascending = False)
    stacked_year.to_csv(f"stacked{year}_low.csv", index = False, na_rep = 'nan')

We do the same for males.

In [26]:
low1_M = education_abs_sheets['education_abs_sheet14']
low2_M = education_abs_sheets['education_abs_sheet20']

medium1_M = education_abs_sheets['education_abs_sheet15']
medium2_M = education_abs_sheets['education_abs_sheet21']

high1_M = education_abs_sheets['education_abs_sheet18']
high2_M = education_abs_sheets['education_abs_sheet24']

In [28]:
low1_M.set_index(['Country', 'Abbreviation'], inplace = True)
low2_M.set_index(['Country', 'Abbreviation'], inplace = True)
low_M = low1_M.fillna(1000000).add(low2_M.fillna(1000000), fill_value = 0).round(1)
low_M = low_M.where(low_M < 1000000)
low1_M.reset_index(inplace = True)
low2_M.reset_index(inplace = True)
low_M.reset_index(inplace = True)
low_M

,Country,Abbreviation,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Belgium,BEL,383.2,391.7,395.0,393.1,387.9,376.6,376.6,370.3,379.1,387.0,386.1,384.3,348.5,334.0
1,Bulgaria,BGR,289.8,249.6,228.6,214.8,206.9,205.7,207.2,201.9,192.3,191.8,191.0,191.3,181.0,165.0
2,Czechia,CZE,335.8,316.3,303.6,288.4,276.7,265.4,263.5,266.3,263.2,265.6,275.1,279.9,280.0,287.0
3,Denmark,DNK,262.2,275.1,271.0,268.3,270.4,267.5,267.6,255.2,262.7,265.1,258.0,258.2,253.9,266.0
4,Germany,DEU,3164.3,2933.0,2079.8,2037.8,2005.6,2761.8,2799.7,2823.5,2827.6,2763.2,2723.4,2663.0,2762.9,2995.5
5,Estonia,EST,58.4,55.5,51.2,49.3,46.4,47.1,45.2,45.2,44.4,42.6,40.9,40.2,39.6,40.7
6,Ireland,IRL,162.4,161.2,157.8,149.6,147.2,138.8,138.6,139.2,132.0,134.0,137.9,136.9,135.4,138.3
7,Greece,GRC,411.7,390.6,383.6,353.1,325.0,301.2,276.6,258.6,257.0,247.4,242.4,236.5,247.5,239.4
8,Spain,ESP,2162.3,2054.5,1975.4,1888.6,1800.0,1705.6,1640.6,1570.2,1533.2,1503.7,1491.6,1452.7,1638.7,1648.7
9,France,FRA,2014.6,2060.2,2031.6,2010.5,1880.9,1877.7,1883.0,1896.4,1885.5,1880.5,1860.5,1800.6,1871.2,1874.5
10,Croatia,HRV,112.5,111.6,112.6,115.6,111.7,103.7,96.1,93.4,93.7,91.0,88.5,89.0,91.0,83.5
11,Italy,ITA,2253.6,2209.9,2191.6,2167.9,2142.1,2076.0,2071.8,2057.9,2022.2,1999.9,1972.4,1902.2,1904.7,1837.9
12,Cyprus,CYP,30.1,30.3,28.8,28.5,28.6,27.6,25.9,24.5,24.9,24.4,22.6,24.1,24.3,24.5
13,Latvia,LVA,104.2,95.0,89.6,77.3,71.2,65.2,63.5,57.6,56.6,56.0,53.5,53.1,52.2,55.2
14,Lithuania,LTU,142.1,134.7,120.9,114.0,104.3,101.6,98.0,90.3,83.2,76.7,72.7,74.9,69.8,69.0
15,Luxembourg,LUX,18.9,20.1,21.3,22.4,21.7,20.5,24.5,22.6,23.1,23.4,23.2,25.1,23.2,23.9
16,Hungary,HUN,365.3,362.6,359.1,340.6,329.4,323.7,315.9,315.2,296.9,288.9,283.8,288.5,290.3,292.1
17,Malta,MLT,18.6,17.7,17.4,16.5,15.8,15.2,14.3,14.0,13.9,11.9,12.3,11.5,10.7,10.5
18,Netherlands,NLD,655.0,645.9,626.5,620.3,626.6,628.5,626.0,627.8,626.2,611.2,609.9,579.4,523.7,528.9
19,Austria,AUT,280.3,282.6,276.3,276.2,267.2,235.4,230.0,243.1,248.8,241.7,237.7,243.1,238.0,244.7
20,Poland,POL,1377.2,1325.3,1289.2,1244.0,1211.8,1155.3,1126.8,1057.7,1043.1,995.3,996.5,996.2,1004.3,973.6
21,Portugal,PRT,594.2,549.4,517.1,493.3,468.3,437.2,407.4,398.3,390.3,364.4,343.4,319.2,297.6,291.8
22,Romania,ROU,964.7,812.9,800.3,790.3,776.2,787.0,770.6,760.9,734.7,690.2,599.2,565.4,458.0,453.5
23,Slovenia,SVN,60.1,59.5,58.5,55.0,50.9,51.1,51.0,51.8,50.8,49.0,47.3,47.6,45.3,46.0
24,Slovakia,SVK,199.5,198.3,187.1,177.8,173.2,168.7,162.5,160.1,161.3,156.3,155.6,150.2,151.9,146.1
25,Finland,FIN,195.1,197.3,197.0,192.2,186.0,184.2,181.9,173.3,175.2,175.9,166.6,161.6,169.3,178.1
26,Sweden,SWE,354.3,358.4,352.6,358.0,346.5,334.4,330.2,331.8,344.1,360.9,365.7,368.9,383.0,372.1
27,Iceland,ISL,19.5,18.4,17.3,17.8,18.3,17.7,17.7,16.9,16.4,16.8,16.7,16.2,16.4,16.5
28,Norway,NOR,201.6,207.4,211.2,210.7,195.4,220.5,224.7,232.4,237.0,228.6,222.8,216.5,229.3,234.7
29,Switzerland,CHE,284.3,279.5,272.5,265.2,256.6,260.0,253.7,250.7,249.0,242.8,237.8,231.2,227.4,230.8
30,Montenegro,MNE,NaN,NaN,21.2,20.5,21.7,20.5,19.8,18.7,19.2,NaN,NaN,NaN,NaN,NaN
31,North Macedonia,MKD,91.4,88.9,84.5,80.9,75.8,77.9,74.5,68.1,63.8,61.1,60.9,58.1,NaN,NaN
32,Serbia,SRB,NaN,231.3,222.5,209.2,199.0,202.5,185.4,176.7,168.6,171.9,169.3,163.4,163.7,159.8
33,TÃ¼rkiye,TUR,5292.0,5341.2,5317.4,5226.4,5198.3,5299.2,5214.4,5123.3,5067.1,4918.1,4757.0,4666.7,NaN,NaN

In [29]:
medium1_M.set_index(['Country', 'Abbreviation'], inplace = True)
medium2_M.set_index(['Country', 'Abbreviation'], inplace = True)
medium_M = medium1_M.fillna(1000000).add(medium2_M.fillna(1000000), fill_value = 0).round(1)
medium_M = medium_M.where(medium_M < 1000000)
medium1_M.reset_index(inplace = True)
medium2_M.reset_index(inplace = True)
medium_M.reset_index(inplace = True)
medium_M

,Country,Abbreviation,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Belgium,BEL,435.7,429.1,435.1,433.0,435.4,442.8,445.4,456.7,422.7,418.4,417.4,412.0,436.7,469.5
1,Bulgaria,BGR,380.7,412.8,409.0,388.5,370.8,347.5,329.5,315.1,297.5,282.8,272.0,254.2,257.9,270.4
2,Czechia,CZE,652.2,637.1,598.9,578.6,559.3,542.1,527.7,495.4,479.1,470.3,463.7,453.4,431.5,422.2
3,Denmark,DNK,173.5,172.3,177.7,184.7,188.4,197.2,204.0,210.6,202.8,211.2,213.5,215.2,210.4,211.2
4,Germany,DEU,3476.6,3341.8,3343.0,3357.0,3360.8,3413.7,3365.9,3505.9,3464.4,3368.1,3265.0,3181.5,2971.4,2810.4
5,Estonia,EST,67.6,67.4,66.2,63.0,63.5,57.5,56.7,56.6,54.1,52.1,51.4,47.8,44.9,45.5
6,Ireland,IRL,222.4,210.9,200.4,193.9,185.1,186.6,183.8,187.7,193.1,203.1,203.3,207.5,206.4,210.4
7,Greece,GRC,485.8,471.2,445.8,439.6,430.0,436.5,456.6,471.2,447.8,455.0,461.0,464.8,458.0,445.9
8,Spain,ESP,1132.5,1120.9,1082.0,1035.3,1006.4,1031.9,1038.7,1045.1,1064.3,1091.3,1137.8,1204.6,1245.2,1276.0
9,France,FRA,2404.8,2366.3,2356.5,2322.2,2416.3,2507.6,2510.6,2502.9,2525.5,2453.7,2434.2,2475.2,2294.5,2412.9
10,Croatia,HRV,277.3,262.8,258.5,251.3,242.6,239.1,244.3,234.6,225.4,220.5,223.7,213.2,202.8,207.5
11,Italy,ITA,2156.3,2180.0,2186.0,2193.2,2208.2,2248.3,2231.4,2218.4,2211.3,2214.8,2224.9,2239.5,2115.6,2151.3
12,Cyprus,CYP,33.7,34.4,35.4,34.9,36.1,37.7,37.0,35.5,36.4,36.2,35.0,34.1,35.0,34.8
13,Latvia,LVA,108.0,106.9,100.2,99.5,96.8,88.5,87.5,83.7,78.6,73.1,72.3,72.1,66.4,63.7
14,Lithuania,LTU,149.5,150.2,138.1,143.0,139.2,133.5,131.5,132.2,122.7,116.9,112.2,109.3,103.4,95.8
15,Luxembourg,LUX,17.8,15.8,17.5,16.6,18.8,17.2,17.2,17.7,16.9,19.0,20.0,19.0,18.8,19.4
16,Hungary,HUN,502.8,487.5,469.2,468.3,470.5,461.7,460.5,458.1,463.1,462.2,464.2,450.9,427.0,413.2
17,Malta,MLT,21.2,20.5,20.1,20.7,21.6,22.5,23.6,24.0,24.6,25.7,27.7,27.8,29.0,27.7
18,Netherlands,NLD,608.1,609.2,625.8,641.3,626.2,651.4,655.7,660.5,668.0,691.4,691.3,706.7,689.6,698.8
19,Austria,AUT,430.2,430.2,430.0,431.5,431.7,375.6,387.5,384.9,366.8,359.2,348.1,343.1,343.5,329.7
20,Poland,POL,2261.4,2190.0,2097.9,2027.6,1927.7,1844.2,1811.0,1798.5,1724.0,1663.7,1582.6,1542.0,1494.5,1491.7
21,Portugal,PRT,269.1,283.2,289.1,286.4,295.4,297.8,311.1,325.8,333.8,350.1,357.6,365.1,379.8,378.7
22,Romania,ROU,1237.4,961.6,942.8,931.4,921.7,882.7,898.1,888.0,849.5,840.3,875.4,887.8,959.0,964.3
23,Slovenia,SVN,129.2,125.3,119.7,114.6,109.5,104.4,96.4,91.8,90.5,90.7,89.8,91.2,86.8,87.9
24,Slovakia,SVK,391.2,376.2,353.1,340.0,327.8,322.3,313.1,292.8,277.0,267.0,253.2,253.0,242.4,232.5
25,Finland,FIN,254.4,255.2,254.5,256.3,260.9,255.6,252.6,257.5,259.7,250.4,253.4,257.5,246.0,237.9
26,Sweden,SWE,421.6,439.0,455.0,439.5,441.1,453.7,454.1,450.4,445.6,430.7,428.7,414.5,383.2,393.5
27,Iceland,ISL,10.0,10.5,11.3,10.8,10.0,10.2,10.7,11.4,11.9,12.4,12.7,14.1,14.1,15.4
28,Norway,NOR,167.7,167.6,171.0,184.2,193.9,192.4,199.9,193.8,188.4,197.5,204.3,203.8,172.3,168.3
29,Switzerland,CHE,332.1,348.9,362.3,368.0,371.0,362.2,362.2,351.4,352.1,359.5,349.7,356.9,345.1,343.0
30,Montenegro,MNE,NaN,NaN,40.7,39.9,38.7,38.1,40.5,41.9,43.3,41.6,40.1,39.0,NaN,NaN
31,North Macedonia,MKD,135.6,132.8,134.1,131.2,135.3,131.2,126.7,127.1,126.6,125.4,120.8,120.8,NaN,NaN
32,Serbia,SRB,NaN,389.2,379.2,373.6,354.7,383.0,377.7,369.7,362.7,354.7,347.6,343.6,336.2,335.2
33,TÃ¼rkiye,TUR,2630.7,2502.6,2454.5,2497.6,2489.3,2394.0,2412.0,2426.3,2490.6,2542.6,2576.4,2695.2,NaN,NaN

In [30]:
high1_M.set_index(['Country', 'Abbreviation'], inplace = True)
high2_M.set_index(['Country', 'Abbreviation'], inplace = True)
high_M = high1_M.fillna(1000000).add(high2_M.fillna(1000000), fill_value = 0).round(1)
high_M = high_M.where(high_M < 1000000)
high1_M.reset_index(inplace = True)
high2_M.reset_index(inplace = True)
high_M.reset_index(inplace = True)
high_M

,Country,Abbreviation,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Belgium,BEL,188.8,190.3,184.6,191.5,197.2,202.1,204.6,200.2,219.7,220.9,223.4,231.8,244.5,234.3
1,Bulgaria,BGR,48.8,56.5,57.8,66.5,70.9,75.4,74.0,73.0,78.3,72.0,63.5,62.4,59.9,55.8
2,Czechia,CZE,98.5,103.2,102.8,112.6,115.7,117.3,109.8,117.3,117.3,108.7,94.5,90.2,101.4,91.1
3,Denmark,DNK,45.4,44.3,48.5,52.9,55.7,62.9,69.3,78.3,81.4,80.0,87.7,87.0,89.6,87.0
4,Germany,DEU,561.5,554.9,607.8,650.2,683.2,706.6,765.2,865.2,895.2,884.8,916.6,953.8,958.8,992.8
5,Estonia,EST,16.3,16.3,18.4,18.1,17.5,18.2,16.2,14.9,14.7,15.2,14.3,15.3,16.0,13.8
6,Ireland,IRL,113.5,104.3,95.5,95.8,97.4,97.7,101.6,100.3,107.3,106.4,109.7,113.3,120.8,125.7
7,Greece,GRC,120.3,113.6,122.3,132.9,135.0,130.2,125.6,119.4,114.7,109.3,114.1,120.3,138.2,148.5
8,Spain,ESP,793.9,749.5,717.7,709.5,690.1,655.9,657.1,682.8,701.4,744.6,778.1,811.9,867.1,893.2
9,France,FRA,1192.8,1160.8,1164.8,1181.3,1193.4,1259.9,1242.9,1244.3,1231.3,1301.5,1333.7,1372.6,1428.8,1431.6
10,Croatia,HRV,24.8,34.1,31.4,29.2,33.9,47.1,39.6,44.6,46.0,46.0,38.1,41.0,42.6,38.6
11,Italy,ITA,364.6,359.3,356.1,366.4,374.0,388.7,392.6,408.9,448.1,469.4,483.4,520.0,516.0,535.2
12,Cyprus,CYP,16.6,18.1,20.1,22.2,20.4,19.2,18.1,19.0,20.3,21.4,21.4,20.0,21.3,22.3
13,Latvia,LVA,25.0,23.0,23.1,25.6,27.0,27.8,23.9,25.5,23.0,23.0,22.6,18.2,21.3,19.7
14,Lithuania,LTU,53.4,50.7,48.1,47.4,53.0,58.7,51.2,47.0,50.5,47.7,47.3,47.3,46.2,43.9
15,Luxembourg,LUX,7.8,7.6,7.9,9.3,8.2,10.4,10.2,10.7,10.4,12.9,14.1,15.2,17.0,16.6
16,Hungary,HUN,92.0,85.9,84.3,95.0,92.8,95.9,94.2,85.7,86.9,88.0,85.3,85.4,92.1,92.8
17,Malta,MLT,5.0,6.0,5.9,6.3,6.5,7.2,8.1,8.4,9.3,12.2,12.1,12.7,11.1,11.3
18,Netherlands,NLD,238.4,244.4,243.9,252.1,263.6,268.6,277.7,289.9,305.0,308.4,324.5,353.5,423.9,432.4
19,Austria,AUT,52.6,50.3,52.8,53.9,66.1,156.4,157.3,168.7,166.4,170.0,172.3,164.7,164.2,175.5
20,Poland,POL,539.2,574.4,597.5,595.6,588.8,575.2,545.2,514.7,481.4,467.1,439.4,393.0,352.4,322.1
21,Portugal,PRT,87.1,90.4,95.8,101.4,93.9,103.2,120.3,111.9,105.2,112.8,124.4,142.7,155.4,155.8
22,Romania,ROU,204.1,189.6,200.7,205.3,211.6,222.6,195.9,178.1,170.7,169.3,155.2,135.3,132.6,127.0
23,Slovenia,SVN,15.9,15.7,15.4,18.0,21.8,21.4,24.7,24.5,22.8,21.7,25.5,25.8,26.1,24.4
24,Slovakia,SVK,60.7,62.7,68.2,76.5,78.0,72.3,71.6,78.3,76.8,76.1,76.0,69.3,61.5,60.6
25,Finland,FIN,NaN,NaN,47.4,45.8,47.5,51.3,49.6,54.1,56.1,58.7,61.7,65.1,58.1,54.4
26,Sweden,SWE,129.9,127.0,127.6,139.9,155.3,158.7,164.9,174.7,181.3,183.3,184.7,186.5,173.2,168.9
27,Iceland,ISL,NaN,NaN,NaN,NaN,3.4,NaN,NaN,3.8,4.9,NaN,6.2,5.3,5.0,4.4
28,Norway,NOR,61.5,67.1,69.9,69.9,75.9,98.6,96.9,98.6,101.8,99.6,96.6,100.4,111.7,112.3
29,Switzerland,CHE,110.7,107.0,107.8,116.0,128.8,136.9,143.4,156.8,154.0,146.8,162.5,155.2,162.2,157.8
30,Montenegro,MNE,NaN,NaN,6.6,7.5,9.2,9.1,7.7,8.0,NaN,8.5,11.4,11.2,NaN,NaN
31,North Macedonia,MKD,22.1,26.7,27.5,28.3,25.5,26.4,26.8,28.8,28.8,27.4,27.5,25.7,NaN,NaN
32,Serbia,SRB,NaN,37.4,50.4,55.9,50.2,59.0,66.6,67.7,70.4,64.7,63.5,64.5,63.5,60.6
33,TÃ¼rkiye,TUR,828.3,904.8,1003.2,1132.6,1168.5,1259.8,1346.4,1457.4,1507.9,1535.9,1587.1,1659.9,NaN,NaN

In [15]:
low_M.to_csv('low_M.csv', index = False, na_rep = 'nan')
medium_M.to_csv('medium_M.csv', index = False, na_rep = 'nan')
high_M.to_csv('high_M.csv', index = False, na_rep = 'nan')

We do the same for females.

In [31]:
low1_F = education_abs_sheets['education_abs_sheet26']
low2_F = education_abs_sheets['education_abs_sheet32']

medium1_F = education_abs_sheets['education_abs_sheet27']
medium2_F = education_abs_sheets['education_abs_sheet33']

high1_F = education_abs_sheets['education_abs_sheet30']
high2_F = education_abs_sheets['education_abs_sheet36']

In [32]:
low1_F.set_index(['Country', 'Abbreviation'], inplace = True)
low2_F.set_index(['Country', 'Abbreviation'], inplace = True)
low_F = low1_F.fillna(1000000).add(low2_F.fillna(1000000), fill_value = 0).round(1)
low_F = low_F.where(low_F < 1000000)
low1_F.reset_index(inplace = True)
low2_F.reset_index(inplace = True)
low_F.reset_index(inplace = True)
low_F

,Country,Abbreviation,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Belgium,BEL,328.6,342.9,334.1,327.4,325.7,317.3,321.2,320.1,329.0,334.1,329.3,326.3,288.5,291.0
1,Bulgaria,BGR,284.0,245.3,225.7,211.2,207.0,199.7,197.0,194.6,190.6,175.3,181.0,183.9,172.4,161.5
2,Czechia,CZE,315.3,304.9,289.9,270.6,254.5,243.6,247.1,255.3,250.9,252.2,252.9,264.7,259.7,261.3
3,Denmark,DNK,211.2,222.6,221.5,217.6,217.8,221.3,218.6,219.2,210.4,214.3,217.3,213.4,213.0,217.4
4,Germany,DEU,2859.2,2652.2,1884.1,1848.2,1774.5,2439.0,2452.0,2402.9,2384.7,2348.7,2346.2,2185.0,2351.5,2576.0
5,Estonia,EST,46.5,42.5,41.2,39.0,35.5,33.2,36.6,34.2,33.5,33.8,34.4,33.7,33.9,35.1
6,Ireland,IRL,134.3,140.4,134.4,131.4,129.8,123.2,126.2,120.0,119.2,127.4,126.6,129.3,119.7,126.6
7,Greece,GRC,322.7,313.8,306.9,287.8,274.2,249.6,254.0,242.1,239.4,236.4,228.9,231.4,216.9,224.7
8,Spain,ESP,1601.5,1523.0,1463.6,1422.5,1383.8,1333.2,1237.2,1203.9,1195.7,1153.7,1103.5,1083.6,1285.1,1304.6
9,France,FRA,1815.3,1794.6,1805.9,1753.3,1683.4,1691.2,1726.3,1683.1,1706.8,1690.8,1657.4,1596.2,1641.7,1672.6
10,Croatia,HRV,105.7,102.7,99.3,101.2,101.1,94.6,91.6,92.0,90.6,88.1,85.2,83.7,82.7,79.7
11,Italy,ITA,1914.9,1901.2,1862.8,1813.3,1786.5,1761.5,1740.8,1735.4,1682.2,1701.1,1673.4,1612.8,1620.4,1556.6
12,Cyprus,CYP,27.6,27.6,26.4,25.8,25.1,25.5,22.7,21.9,22.8,22.3,22.1,22.7,22.6,21.1
13,Latvia,LVA,85.7,75.9,69.0,57.4,53.2,49.2,48.8,46.3,46.1,45.5,45.7,45.7,45.6,46.2
14,Lithuania,LTU,119.1,114.9,102.6,97.1,93.6,88.2,81.4,73.4,69.8,65.7,62.0,61.2,58.7,60.8
15,Luxembourg,LUX,17.6,18.4,18.7,18.9,18.5,18.7,20.6,20.0,19.4,20.5,20.6,19.8,19.2,19.5
16,Hungary,HUN,333.5,328.9,322.7,311.5,305.9,290.8,292.1,288.1,281.1,269.6,261.2,266.3,270.5,274.9
17,Malta,MLT,14.7,12.2,11.6,12.0,11.1,11.2,10.7,9.1,8.9,8.5,9.2,7.4,6.3,7.4
18,Netherlands,NLD,543.8,545.7,542.8,528.5,522.1,525.1,518.2,525.0,504.4,507.2,507.2,486.2,436.6,449.5
19,Austria,AUT,270.2,269.0,263.6,255.0,250.0,213.4,210.7,209.8,208.1,205.2,200.8,198.7,202.6,203.7
20,Poland,POL,1185.1,1117.5,1074.8,1019.4,980.2,943.9,938.0,907.5,878.5,856.1,832.0,842.5,835.4,845.1
21,Portugal,PRT,489.3,456.6,403.4,373.7,360.8,350.1,328.7,319.9,299.3,285.8,271.7,252.8,228.3,230.2
22,Romania,ROU,915.8,763.9,744.4,731.2,715.6,708.6,698.1,702.9,677.1,645.5,585.6,553.9,432.4,411.1
23,Slovenia,SVN,48.2,49.6,44.4,43.1,44.2,44.1,41.9,43.2,43.1,42.1,41.1,41.1,37.1,40.2
24,Slovakia,SVK,188.8,186.1,177.5,166.5,164.4,163.2,154.7,152.6,159.3,151.3,146.0,142.0,143.7,140.4
25,Finland,FIN,180.0,181.1,178.9,176.5,171.7,166.0,166.2,162.0,159.1,157.7,160.4,157.0,173.0,163.4
26,Sweden,SWE,316.7,321.2,313.9,312.4,303.2,296.0,293.4,296.4,309.2,311.8,313.3,318.5,326.1,328.0
27,Iceland,ISL,15.7,16.0,15.5,14.6,14.0,13.3,13.5,12.3,12.8,12.7,11.5,11.7,11.8,13.0
28,Norway,NOR,167.8,167.9,168.7,169.3,162.4,196.4,194.7,198.4,194.6,186.5,187.5,186.3,188.2,194.9
29,Switzerland,CHE,273.2,258.4,258.7,250.2,241.3,232.5,226.4,220.1,213.2,211.8,202.5,202.5,198.1,194.4
30,Montenegro,MNE,NaN,NaN,19.8,19.6,20.2,19.6,18.7,18.7,19.3,18.3,NaN,NaN,NaN,NaN
31,North Macedonia,MKD,96.2,96.8,89.9,85.3,82.8,78.6,74.1,70.6,64.4,63.4,61.2,58.6,NaN,NaN
32,Serbia,SRB,NaN,210.1,198.3,178.0,181.6,188.1,172.1,163.6,160.8,162.7,160.7,159.0,154.4,148.7
33,TÃ¼rkiye,TUR,6113.4,6072.8,5975.2,5764.6,5610.0,5576.8,5401.8,5155.1,4991.6,4775.4,4528.1,4326.2,NaN,NaN

In [33]:
medium1_F.set_index(['Country', 'Abbreviation'], inplace = True)
medium2_F.set_index(['Country', 'Abbreviation'], inplace = True)
medium_F = medium1_F.fillna(1000000).add(medium2_F.fillna(1000000), fill_value = 0).round(1)
medium_F = medium_F.where(medium_F < 1000000)
medium1_F.reset_index(inplace = True)
medium2_F.reset_index(inplace = True)
medium_F.reset_index(inplace = True)
medium_F

,Country,Abbreviation,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Belgium,BEL,400.0,390.9,402.5,400.9,399.1,394.3,398.8,398.1,375.1,356.0,363.4,351.8,375.1,399.1
1,Bulgaria,BGR,295.9,326.4,326.3,319.8,297.4,279.0,269.2,253.9,239.2,238.5,228.8,218.3,219.2,222.3
2,Czechia,CZE,571.3,547.0,519.5,490.5,470.6,464.5,433.7,409.5,394.4,380.1,382.9,357.7,356.1,345.0
3,Denmark,DNK,178.9,173.4,177.1,182.4,181.4,188.1,193.8,198.5,200.1,200.8,197.0,201.8,199.9,196.1
4,Germany,DEU,3345.7,3273.5,3186.7,3105.6,3126.5,3284.3,3188.5,3226.5,3168.9,3107.9,3031.7,3022.5,2754.3,2594.7
5,Estonia,EST,58.3,58.8,58.4,54.7,54.6,54.7,50.6,48.1,47.0,46.3,42.7,42.8,39.9,38.4
6,Ireland,IRL,206.1,187.3,185.6,179.6,166.8,166.9,158.9,163.8,175.9,174.7,186.1,180.3,180.2,185.4
7,Greece,GRC,479.8,461.1,427.1,416.6,412.6,423.1,403.3,399.7,387.5,386.5,385.9,374.5,384.0,384.6
8,Spain,ESP,1240.6,1186.5,1150.3,1129.2,1086.1,1069.2,1119.5,1109.7,1088.5,1130.4,1189.0,1212.7,1238.3,1230.0
9,France,FRA,2307.2,2339.2,2331.4,2340.3,2336.6,2424.8,2431.3,2432.5,2407.3,2365.8,2350.1,2360.9,2230.2,2253.7
10,Croatia,HRV,241.2,228.9,226.8,221.5,204.8,216.0,207.4,190.3,186.5,185.0,169.6,169.3,169.5,164.5
11,Italy,ITA,2140.5,2147.2,2158.2,2150.1,2152.1,2115.8,2108.1,2083.5,2069.8,2001.7,1998.4,2000.8,1915.0,1943.3
12,Cyprus,CYP,27.9,29.0,30.4,31.8,30.2,26.2,27.5,25.9,26.1,26.8,26.6,29.6,30.2,30.8
13,Latvia,LVA,102.2,92.8,90.9,86.5,81.6,75.9,68.5,67.7,64.5,61.0,59.4,57.4,54.5,51.3
14,Lithuania,LTU,142.9,129.6,121.0,119.7,119.4,112.7,108.5,105.8,98.5,96.4,89.0,86.7,89.0,78.9
15,Luxembourg,LUX,15.4,16.6,16.4,16.5,16.1,15.1,17.1,17.8,17.1,18.3,16.3,18.3,16.3,17.0
16,Hungary,HUN,470.4,451.6,425.0,411.9,410.2,411.0,401.8,397.4,391.8,405.2,401.6,386.2,363.1,363.1
17,Malta,MLT,20.4,21.6,21.3,20.4,20.8,20.7,21.4,23.1,23.6,23.0,22.9,25.1,22.9,21.8
18,Netherlands,NLD,615.1,612.3,608.4,614.6,608.2,610.3,627.3,627.5,651.2,651.0,648.9,652.2,639.2,654.7
19,Austria,AUT,426.7,425.5,428.9,425.6,420.3,353.9,333.7,332.7,331.7,329.2,325.0,325.7,304.9,315.7
20,Poland,POL,2007.5,1842.8,1741.1,1656.7,1586.0,1501.8,1449.3,1436.4,1397.1,1333.1,1298.6,1281.6,1318.4,1277.5
21,Portugal,PRT,283.0,295.4,317.6,319.9,304.7,305.6,314.2,310.5,317.9,323.1,332.1,345.3,323.4,344.9
22,Romania,ROU,1115.3,871.2,847.1,829.2,808.8,792.3,786.7,782.7,752.1,746.4,757.7,767.2,871.0,884.0
23,Slovenia,SVN,107.5,102.9,100.7,96.5,89.8,85.9,82.7,74.4,71.1,71.7,71.2,70.1,68.9,65.3
24,Slovakia,SVK,350.6,320.8,297.6,285.4,271.1,258.5,247.8,237.5,216.3,210.4,199.6,195.0,182.8,173.3
25,Finland,FIN,225.2,226.5,228.5,229.7,226.5,229.3,227.9,230.1,224.3,221.5,219.5,211.9,210.9,217.6
26,Sweden,SWE,378.1,385.3,394.0,387.1,380.6,380.9,368.4,358.3,350.6,351.5,337.5,328.3,317.7,311.0
27,Iceland,ISL,10.6,10.1,10.2,10.1,10.7,12.2,11.8,11.3,11.1,11.5,14.1,14.1,13.9,12.8
28,Norway,NOR,152.6,159.9,162.3,157.1,161.9,159.2,164.2,156.8,166.7,168.2,165.2,154.8,141.2,133.9
29,Switzerland,CHE,309.1,335.0,325.4,330.3,331.6,334.1,333.4,334.0,324.7,320.9,315.2,311.0,317.8,312.9
30,Montenegro,MNE,NaN,NaN,35.0,34.6,33.7,32.4,33.3,32.5,31.5,32.2,32.9,32.2,NaN,NaN
31,North Macedonia,MKD,108.0,105.1,104.4,98.9,98.0,101.9,99.8,96.3,99.6,99.5,97.1,94.5,NaN,NaN
32,Serbia,SRB,NaN,328.3,307.1,300.1,292.0,327.2,318.0,310.5,303.9,295.3,289.4,285.1,283.6,286.5
33,TÃ¼rkiye,TUR,2075.6,2044.7,2042.1,2087.3,2110.3,2050.4,2078.1,2132.3,2163.6,2239.7,2376.5,2436.8,NaN,NaN

In [34]:
high1_F.set_index(['Country', 'Abbreviation'], inplace = True)
high2_F.set_index(['Country', 'Abbreviation'], inplace = True)
high_F = high1_F.fillna(1000000).add(high2_F.fillna(1000000), fill_value = 0).round(1)
high_F = high_F.where(high_F < 1000000)
high1_F.reset_index(inplace = True)
high2_F.reset_index(inplace = True)
high_F.reset_index(inplace = True)
high_F

,Country,Abbreviation,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Belgium,BEL,263.0,261.8,263.5,275.0,280.8,294.5,287.7,290.0,299.6,312.7,310.1,324.1,338.8,322.1
1,Bulgaria,BGR,87.5,104.7,102.3,101.0,108.7,115.1,111.7,110.4,108.6,104.3,90.4,80.5,82.6,82.2
2,Czechia,CZE,131.8,140.8,144.0,169.3,180.2,173.0,178.5,173.5,174.6,170.8,152.8,154.5,150.4,145.5
3,Denmark,DNK,71.8,73.8,78.5,81.5,87.0,96.2,104.1,102.9,113.2,118.4,121.3,123.6,124.4,130.0
4,Germany,DEU,754.4,741.8,842.8,910.4,921.3,823.8,883.0,942.4,969.0,973.8,994.1,1107.6,1137.5,1166.1
5,Estonia,EST,32.0,32.5,30.5,32.7,32.4,30.4,26.8,30.0,28.3,25.7,26.0,23.5,23.8,23.4
6,Ireland,IRL,164.6,153.4,141.6,137.3,136.7,136.8,137.6,138.1,129.8,130.8,125.3,134.2,145.3,150.1
7,Greece,GRC,186.9,194.1,200.8,198.1,194.3,189.7,179.6,171.6,182.7,177.0,173.0,178.4,177.2,173.0
8,Spain,ESP,1070.6,1071.9,1044.9,990.5,948.6,917.2,903.0,900.6,921.1,951.1,992.0,1035.1,1059.7,1103.7
9,France,FRA,1538.7,1493.6,1454.3,1457.6,1511.9,1568.5,1526.9,1550.0,1543.8,1599.0,1638.7,1688.1,1709.7,1722.1
10,Croatia,HRV,50.3,58.2,54.8,51.1,62.6,63.7,65.6,74.8,72.3,68.6,79.5,74.4,68.2,69.5
11,Italy,ITA,587.0,562.3,566.8,605.3,613.3,655.8,651.4,645.9,681.3,703.2,707.6,745.1,735.8,745.7
12,Cyprus,CYP,32.5,34.5,36.1,37.0,38.9,41.2,37.5,38.2,37.8,37.8,38.6,35.6,32.6,35.5
13,Latvia,LVA,41.8,49.7,46.9,51.1,51.9,48.9,49.4,45.4,41.3,38.8,35.3,32.5,31.8,34.8
14,Lithuania,LTU,75.8,78.0,68.5,71.1,69.2,75.1,78.2,69.7,67.1,63.3,63.9,59.8,56.0,59.0
15,Luxembourg,LUX,10.4,8.9,10.9,12.1,12.3,13.3,12.9,13.1,13.0,15.6,18.5,18.8,21.1,20.6
16,Hungary,HUN,128.5,126.5,134.3,145.0,140.0,141.4,136.4,132.1,132.3,122.3,126.7,128.3,134.3,122.0
17,Malta,MLT,6.9,8.1,8.6,9.0,9.5,10.1,10.4,11.2,11.8,13.9,14.2,13.0,14.7,14.1
18,Netherlands,NLD,309.6,309.7,316.2,334.6,347.4,373.5,376.6,385.9,403.5,416.9,427.5,446.3,512.1,505.9
19,Austria,AUT,71.7,75.0,74.4,83.8,93.9,197.7,220.8,227.3,224.4,222.3,222.2,216.0,224.7,212.3
20,Poland,POL,926.4,924.7,963.0,986.0,958.1,925.0,893.1,856.8,811.6,784.0,741.6,666.8,561.0,530.6
21,Portugal,PRT,160.8,159.9,170.6,176.7,181.5,178.5,180.4,186.1,194.2,196.0,205.0,217.8,258.6,231.9
22,Romania,ROU,270.2,219.8,246.1,260.9,265.4,267.1,248.6,222.2,225.3,206.2,196.8,171.0,161.8,174.8
23,Slovenia,SVN,31.4,31.4,33.8,34.9,36.1,35.7,36.4,39.8,39.2,35.4,34.5,34.7,33.3,34.0
24,Slovakia,SVK,85.3,103.8,107.6,117.0,118.9,117.7,121.6,118.4,116.8,115.3,116.9,113.2,110.4,107.4
25,Finland,FIN,81.9,79.9,78.5,83.5,85.6,85.0,86.0,86.0,87.4,92.2,89.1,89.5,80.5,82.2
26,Sweden,SWE,169.8,173.2,179.1,191.5,210.1,219.8,236.4,245.9,246.7,245.1,254.6,253.2,230.4,227.9
27,Iceland,ISL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.1,6.6,6.6,6.7,6.9,6.9,7.3
28,Norway,NOR,96.1,97.3,105.3,113.2,121.3,136.7,137.2,144.4,138.4,144.9,145.2,151.0,158.6,160.9
29,Switzerland,CHE,105.9,104.8,112.6,121.9,129.4,140.9,153.9,157.9,170.9,173.3,176.4,179.5,176.3,183.4
30,Montenegro,MNE,NaN,NaN,10.4,10.4,12.6,12.6,13.0,12.9,14.1,13.0,13.4,14.3,NaN,NaN
31,North Macedonia,MKD,31.4,33.2,38.9,43.5,43.4,40.7,41.6,44.2,42.6,38.9,38.9,39.6,NaN,NaN
32,Serbia,SRB,NaN,54.3,66.7,72.0,73.9,99.5,106.6,107.5,105.2,101.5,99.4,95.8,93.7,88.5
33,TÃ¼rkiye,TUR,862.7,920.3,996.0,1102.5,1188.4,1308.7,1483.5,1656.8,1739.2,1817.4,1898.1,2051.7,NaN,NaN

In [20]:
low_F.to_csv('low_F.csv', index = False, na_rep = 'nan')
medium_F.to_csv('medium_F.csv', index = False, na_rep = 'nan')
high_F.to_csv('high_F.csv', index = False, na_rep = 'nan')

## Education level: percentage

We import the 18 sheets of the *pop_edu_sex_age_percentage* excel file (skipping useless rows/columns and avoiding the print of unharmful warnings) in a dictionary of datasets named *education_per_sheets*.

In [ ]:
sheet_names = [f'Sheet {i}' for i in range(1, 19)]
file_path = '/content/drive/MyDrive/DV_project/story2/pop_edu_sex_age_percentage.xlsx'
rows_to_skip = list(range(0, 10)) + [11, 12, 13, 44] + list(range(49, 56))
selected_columns = ['TIME'] + [str(year) for year in range(2009, 2023)]

# Just to suppress the unharmful warnings we were getting
import warnings
with warnings.catch_warnings():
    warnings.filterwarnings("ignore", category = UserWarning, module = "openpyxl")
    # Dictionary with datasets: 'education_per_sheet1', ..., 'education_per_sheet36'
    education_per_sheets = {f'education_per_sheet{i}': pd.read_excel(file_path, sheet_name = sheet_name, skiprows = rows_to_skip, na_values = ':', usecols = selected_columns)
                            for i, sheet_name in enumerate(sheet_names, start = 1)}

We add a column *Abbreviation* to the 18 datasets.

In [ ]:
for i in range(1, 19):
    education_per_sheets[f'education_per_sheet{i}'].rename(columns = {'TIME': 'Country'}, inplace = True)
    education_per_sheets[f'education_per_sheet{i}']['Abbreviation'] = education_per_sheets[f'education_per_sheet{i}']['Country'].map(country_abbreviations)

## Enrolment by age

In [ ]:
enrolment = pd.read_csv("/content/drive/MyDrive/DV_project/story2/enrolment_by_age.csv")

In [ ]:
enrolment

,COUNTRY,Country,SEX,Gender,AGE,Age,INTENSITY,Intensity,EDUCATION_LEV,Education level,YEAR,Year,Value,Flag Codes,Flags
0,AUT,Austria,F,Female,Y15,15 years,PT,Part-time,ISCED11_0,Early childhood education,2013,2013,NaN,m,Missing value; data cannot exist
1,AUT,Austria,F,Female,Y15,15 years,PT,Part-time,ISCED11_0,Early childhood education,2014,2014,NaN,m,Missing value; data cannot exist
2,AUT,Austria,F,Female,Y15,15 years,PT,Part-time,ISCED11_0,Early childhood education,2015,2015,NaN,m,Missing value; data cannot exist
3,AUT,Austria,F,Female,Y15,15 years,PT,Part-time,ISCED11_0,Early childhood education,2016,2016,NaN,m,Missing value; data cannot exist
4,AUT,Austria,F,Female,Y15,15 years,PT,Part-time,ISCED11_0,Early childhood education,2017,2017,NaN,m,Missing value; data cannot exist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524155,BGR,Bulgaria,M,Male,_T,Total,PT,Part-time,ISCED11_T,Total,2017,2017,55553.0,NaN,NaN
524156,BGR,Bulgaria,M,Male,_T,Total,PT,Part-time,ISCED11_T,Total,2018,2018,57230.0,NaN,NaN
524157,BGR,Bulgaria,M,Male,_T,Total,PT,Part-time,ISCED11_T,Total,2019,2019,48242.0,NaN,NaN
524158,BGR,Bulgaria,M,Male,_T,Total,PT,Part-time,ISCED11_T,Total,2020,2020,42941.0,NaN,NaN
524159,BGR,Bulgaria,M,Male,_T,Total,PT,Part-time,ISCED11_T,Total,2021,2021,40767.0,NaN,NaN

# Download all CSV files

We download all the CSV files we created.

In [53]:
directory_path = '/content'
file_type = ".csv"
files_to_download = glob.glob(f"{directory_path}/*{file_type}")
zip_filename = "datasets.zip"
with zipfile.ZipFile(zip_filename, "w") as zipf:
    for file in files_to_download:
        zipf.write(file, arcname = os.path.basename(file))
files.download(zip_filename)